<div class="container-scroller">
	<!-- Navbar -->
	<app-pollux-navbar></app-pollux-navbar>

	<div class="container-fluid page-body-wrapper">
		<!-- Sidebar -->
		<app-pollux-sidebar></app-pollux-sidebar>

		<!-- Main Panel -->
		<div class="main-panel">
					<div class="content-wrapper">
						<app-dashboard-rbac [role]="currentUserRole"></app-dashboard-rbac>
						<router-outlet></router-outlet>
					</div>
					<!-- Footer -->
					
		</div>
		
	</div>
	<app-pollux-footer></app-pollux-footer>
</div>
