<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <!-- Dashboard (hardcoded) -->
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/dashboard" routerLinkActive="active">
        <i class="typcn typcn-device-desktop menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    
    <!-- Dynamic Admin Menu (role-based filtered) -->
    <ng-container *ngFor="let item of filteredMenu">
      <!-- Simple items without children -->
      <li class="nav-item" *ngIf="!item.children">
        <a class="nav-link" [routerLink]="item.route" routerLinkActive="active">
          <i *ngIf="item.icon" [class]="item.icon + ' menu-icon'"></i>
          <span class="menu-title">{{ item.title }}</span>
        </a>
      </li>
      
      <!-- Parent items with children (dropdowns) -->
      <li class="nav-item" *ngIf="item.children" [class.open]="isOpen(item.key)">
        <a class="nav-link" (click)="toggleMenu(item.key)" [attr.aria-expanded]="isOpen(item.key)">
          <i *ngIf="item.icon" [class]="item.icon + ' menu-icon'"></i>
          <span class="menu-title">{{ item.title }}</span>
          <i class="typcn typcn-chevron-right" [class.rotate]="isOpen(item.key)"></i>
        </a>
        <div class="collapse" [class.show]="isOpen(item.key)">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item" *ngFor="let child of item.children">
              <a class="nav-link" [routerLink]="child.route" routerLinkActive="active" (click)="closeMenu(item.key)">
                <span class="menu-title">{{ child.title }}</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ng-container>
  </ul>
</nav>