<footer class="footer">
  <div class="d-sm-flex justify-content-center justify-content-sm-between">
    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">
      Copyright © {{ currentYear }} 
      <a href="https://dfashion.com/" target="_blank">DFashion</a>. 
      All rights reserved.
    </span>
    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
      Version {{ version }} | 
      <a href="javascript:void(0);" class="text-muted">Documentation</a> | 
      <a href="javascript:void(0);" class="text-muted">Support</a>
    </span>
  </div>
</footer>
