<div class="image-viewer" [class.fullscreen]="fullscreen">
  <div class="image-container">
    <img [src]="currentImage" [alt]="alt" (load)="onImageLoad()" (error)="onImageError()" [class.loaded]="imageLoaded">

    <!-- Loading spinner -->
    <div class="loading-overlay" *ngIf="!imageLoaded">
      <ion-spinner name="crescent"></ion-spinner>
    </div>

    <!-- Navigation arrows for multiple images -->
    <div class="nav-arrows" *ngIf="images.length > 1">
      <ion-button fill="clear" class="nav-button prev" (click)="previousImage()" [disabled]="currentIndex === 0">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
      <ion-button fill="clear" class="nav-button next" (click)="nextImage()" [disabled]="currentIndex === images.length - 1">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-button>
    </div>

    <!-- Fullscreen toggle -->
    <ion-button fill="clear" class="fullscreen-button" (click)="toggleFullscreen()">
      <ion-icon [name]="fullscreen ? 'contract' : 'expand'"></ion-icon>
    </ion-button>

    <!-- Close button for fullscreen -->
    <ion-button *ngIf="fullscreen" fill="clear" class="close-button" (click)="closeFullscreen()">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </div>

  <!-- Image indicators -->
  <div class="image-indicators" *ngIf="images.length > 1 && showIndicators">
    <span
          *ngFor="let image of images; let i = index"
          class="indicator"
          [class.active]="i === currentIndex"
          (click)="goToImage(i)">
        </span>
  </div>
</div>