<!-- PolluxUI Navbar Component -->
<ng-container>
  <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row align-items-center">
    <div class="navbar-brand-wrapper d-flex align-items-center" style="min-width: 180px;">
      <a class="navbar-brand brand-logo me-2" routerLink="/dashboard"><img src="assets/pollux/images/logo.svg" alt="logo"/></a>
      <button class="navbar-toggler navbar-toggler align-self-center ms-2" type="button" (click)="toggleSidebar()">
        <span class="typcn typcn-th-menu"></span>
      </button>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
      <ul class="navbar-nav me-lg-2">
        <li class="nav-item nav-profile dropdown" *ngIf="currentUser">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" id="profileDropdown" aria-expanded="false">
            <img [src]="currentUser.avatar" alt="profile"/>
            <span class="nav-profile-name">{{ currentUser.fullName }}</span>
          </a>
          <div class="dropdown-menu dropdown-menu-end navbar-dropdown" aria-labelledby="profileDropdown">
            <a class="dropdown-item" routerLink="/settings"><i class="typcn typcn-cog-outline text-primary"></i> Settings</a>
            <a class="dropdown-item" (click)="onLogout()"><i class="typcn typcn-eject text-primary"></i> Logout</a>
          </div>
        </li>
        <li class="nav-item nav-user-status">
          <p class="mb-0">Last login: {{ getLastLoginTime() }}</p>
        </li>
      </ul>
      <ul class="navbar-nav navbar-nav-right">
        <li class="nav-item nav-date">
          <a class="nav-link d-flex justify-content-center align-items-center">
            <h6 class="date mb-0">Today: {{ getCurrentDate() }}</h6>
            <i class="typcn typcn-calendar"></i>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link count-indicator dropdown-toggle d-flex justify-content-center align-items-center" href="#" data-bs-toggle="dropdown" id="messageDropdown" aria-expanded="false">
            <i class="typcn typcn-mail mx-0"></i>
            <span class="count" *ngIf="unreadMessages > 0">{{ unreadMessages }}</span>
          </a>
          <div class="dropdown-menu dropdown-menu-end navbar-dropdown preview-list" aria-labelledby="messageDropdown">
            <p class="mb-0 fw-normal float-start dropdown-header">Messages</p>
            <a class="dropdown-item preview-item" *ngFor="let message of recentMessages" href="#">
              <div class="preview-thumbnail">
                <img [src]="message.avatar" alt="image" class="profile-pic">
              </div>
              <div class="preview-item-content flex-grow">
                <h6 class="preview-subject ellipsis fw-normal">{{ message.sender }}</h6>
                <p class="fw-light small-text text-muted mb-0">{{ message.preview }}</p>
              </div>
            </a>
          </div>
        </li>
        <li class="nav-item dropdown me-0">
          <a class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center" href="#" data-bs-toggle="dropdown" id="notificationDropdown" aria-expanded="false">
            <i class="typcn typcn-bell mx-0"></i>
            <span class="count" *ngIf="unreadNotifications > 0">{{ unreadNotifications }}</span>
          </a>
          <div class="dropdown-menu dropdown-menu-end navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
            <p class="mb-0 fw-normal float-start dropdown-header">Notifications</p>
            <a class="dropdown-item preview-item" *ngFor="let notification of recentNotifications" href="#">
              <div class="preview-thumbnail">
                <div class="preview-icon" [ngClass]="'bg-' + notification.type">
                  <i class="typcn" [ngClass]="notification.icon + ' mx-0'"></i>
                </div>
              </div>
              <div class="preview-item-content">
                <h6 class="preview-subject fw-normal">{{ notification.title }}</h6>
                <p class="fw-light small-text mb-0 text-muted">{{ notification.time }}</p>
              </div>
            </a>
          </div>
        </li>
      </ul>
      <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" (click)="toggleSidebar()">
        <i class="typcn typcn-th-menu"></i>
      </button>
    </div>
  </nav>
</ng-container>
