<!-- PolluxUI User Dashboard Component -->
<div class="dashboard-container">
  <div class="row">
    <div class="col-md-4">
      <div class="card card-stat">
        <div class="card-body">
          <h5 class="card-title">My Orders</h5>
          <h2 class="stat-value">12</h2>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-stat">
        <div class="card-body">
          <h5 class="card-title">Wishlist</h5>
          <h2 class="stat-value">8</h2>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-stat">
        <div class="card-body">
          <h5 class="card-title">Reviews</h5>
          <h2 class="stat-value">5</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Order History</h5>
          <ul class="list-group">
            <li class="list-group-item">Order #1234 delivered</li>
            <li class="list-group-item">Order #1235 shipped</li>
            <li class="list-group-item">Order #1236 placed</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Recent Wishlist</h5>
          <ul class="list-group">
            <li class="list-group-item">Product "Sneakers" added</li>
            <li class="list-group-item">Product "Handbag" added</li>
            <li class="list-group-item">Product "Watch" added</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
