// Second header styles
.navbar-breadcrumb {
  height: vars.$navbar-height;
  position: fixed;
  top: vars.$navbar-height;
  right: 0;
  left: vars.$sidebar-width-lg;
  background: #fff;
  padding: 0;
  border-bottom: 1px solid rgba(vars.$pollux-border-color, 0.1);
  transition: left $action-transition-duration $action-transition-timing-function;

  .sidebar-icon-only & {
    left: vars.$sidebar-width-icon;
  }

  .navbar-links-wrapper {
    background-color: vars.$pollux-primary;
    display: flex;
    align-items: stretch;
    border-right: 1px solid rgba(255, 255, 255, 0.15);

    .nav-link {
      height: 100%;
      padding: 1rem 1.5rem;
      display: flex;
      align-items: center;
      border-right: 1px solid rgba(255, 255, 255, 0.15);

      i {
        color: #fff;
        font-size: 1.25rem;
      }

      &:hover {
        background: rgba(255, 255, 255, 0.1);
      }
    }
  }

  .navbar-menu-wrapper {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background: transparent;
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    
    .navbar-nav {
      display: flex;
      flex-direction: row;
      margin: 0;
      padding: 0;

      .nav-item {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;

        .d-flex {
          align-items: center;
          gap: 0.5rem;

          p {
            margin: 0;
            color: vars.$pollux-text-primary;
            font-size: 0.875rem;
          }

          i {
            color: vars.$pollux-text-muted;
            font-size: 0.75rem;
          }
        }
      }

      &.navbar-nav-right {
        margin-left: auto;

        .nav-search {
          .input-group {
            background: rgba(vars.$pollux-border-color, 0.1);
            border-radius: 2rem;
            padding: 0.5rem 1rem;

            input {
              border: none;
              background: transparent;
              padding: 0;
              font-size: 0.875rem;
              color: vars.$pollux-text-primary;

              &:focus {
                outline: none;
                box-shadow: none;
              }

              &::placeholder {
                color: vars.$pollux-text-muted;
              }
            }

            .input-group-prepend {
              margin-left: 0.5rem;

              .input-group-text {
                padding: 0;
                background: transparent;
                border: none;

                i {
                  font-size: 1rem;
                  color: vars.$pollux-text-muted;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .navbar-breadcrumb {
    left: 0;
    
    .navbar-links-wrapper {
      width: vars.$sidebar-width-icon;
    }
  }
}