// Re-export variables and mixins from the admin theme
// This includes both common/light variables and admin-specific variables
@import "./scss/common/light/variables";
@import "./scss/variables";

// Define Compass mixins that were used but are not available
@mixin display-flex() {
  display: flex;
}

@mixin flex-direction($direction) {
  flex-direction: $direction;
}

@mixin align-items($value) {
  align-items: $value;
}

@mixin justify-content($value) {
  justify-content: $value;
}

@mixin flex-wrap($value) {
  flex-wrap: $value;
}

@mixin placeholder {
  &::placeholder {
    @content;
  }
}

