<div [class]="containerClasses">
  <div class="empty-icon" [class.pulse]="showAnimation">
    <ion-icon [name]="icon" [color]="iconColor" data-bs-toggle="tooltip" data-bs-placement="top" [attr.title]="title" tabindex="0"></ion-icon>
  </div>
  <h3 class="empty-title">{{ title }}</h3>
  <p class="empty-message">{{ message }}</p>
  <ion-button
    *ngIf="buttonText"
    [color]="buttonColor"
    [fill]="buttonFill"
    class="empty-button"
    (click)="onButtonClick()">
    <ion-icon [name]="buttonIcon" slot="start" *ngIf="buttonIcon" data-bs-toggle="tooltip" data-bs-placement="top" [attr.title]="buttonText" tabindex="0"></ion-icon>
    {{ buttonText }}
  </ion-button>
</div>
