// PolluxUI Theme Variables
$sidebar-width: 240px;
$navbar-height: 70px;

// Colors
$primary: #844fc1;
$secondary: #6c7293;
$success: #21bf06;
$info: #3b86d1;
$warning: #f39915;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #282f3a;
$white: #ffffff;

// Text colors
$text-primary: $dark;
$text-muted: #959595;

// Border colors
$border-color: #e9ecef;

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 0.875rem;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 500;
$font-weight-bolder: 600;

// Card
$card-border-radius: 0.75rem;
$card-border-color: rgba($dark, 0.125);
$card-box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);

// Spacing
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3
);