<div class="bottom-nav" *ngIf="isMobile">
  <div class="nav-item" [class.active]="currentRoute === '/home'" (click)="navigate('/home')">
    <ion-icon name="home-outline" data-bs-toggle="tooltip" data-bs-placement="top" title="Home" tabindex="0"></ion-icon>
    <span>Home</span>
  </div>
  <div class="nav-item" [class.active]="currentRoute === '/search'" (click)="navigate('/search')">
    <ion-icon name="search-outline" data-bs-toggle="tooltip" data-bs-placement="top" title="Search" tabindex="0"></ion-icon>
    <span>Search</span>
  </div>
  <div class="nav-item" [class.active]="currentRoute === '/add'" (click)="navigate('/add')">
    <ion-icon name="add-outline" data-bs-toggle="tooltip" data-bs-placement="top" title="Create" tabindex="0"></ion-icon>
    <span>Add</span>
  </div>
  <div class="nav-item" [class.active]="currentRoute === '/activity'" (click)="navigate('/activity')">
    <ion-icon name="heart-outline" data-bs-toggle="tooltip" data-bs-placement="top" title="Wishlist" tabindex="0"></ion-icon>
    <span>Activity</span>
  </div>
  <div class="nav-item" [class.active]="currentRoute === '/profile'" (click)="navigate('/profile')">
    <ion-icon name="person-outline" data-bs-toggle="tooltip" data-bs-placement="top" title="Profile" tabindex="0"></ion-icon>
    <span>Profile</span>
  </div>
</div>